
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    background-image: url("https://source.unsplash.com/1600x900/?travel,fun,surf,champagne"); /* terrible idée niveau performance (pas de cache) */
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
/**
Header
 */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: inline-block;
}

.container {
    max-width: 800px;
    margin: auto;
    opacity: 0.8;
}

header {
    display: flex;
    align-items: baseline;
    text-align: center;
    background-color: #01A9B4;
    font-color: #086972;
}

nav a {
    align-items: baseline;
    display: inline-block;
    text-decoration: none;
}

nav a:hover {
    align-items: baseline;
    display: inline-block;
    text-decoration: none;
}

/*
footer
 */
footer {
    display: flex;
    align-items: baseline;
    text-align: center;
    background-color: #01A9B4;
}