
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    background-image: url("https://source.unsplash.com/1600x900/?travel,fun,surf,champagne"); /* terrible idée niveau performance (pas de cache) */
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
/**
Header
 */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: inline-block;
}

header {
    display: flex;
    align-items: baseline;
    text-align: center;
    background-color: #01A9B4FF;
    color: #086972;
    margin-bottom: 20px;
}

header img {
    height: 75px;
}

nav a {
    align-items: baseline;
    display: inline-block;
    text-decoration: none;
    color: #043136;
    margin-left: 10px;
    margin-right: 10px;
}

nav a:hover {
    align-items: baseline;
    display: inline-block;
    text-decoration: none;
    color: #87DFD6;
}

/*
main
 */
main {
    background-color: white;
    opacity: 0.9;
    flex-grow: 1;
}

/*
footer
 */
footer {
    background-color: #FBFD8A;
    margin-top: 20px;
    opacity: 0.9;
}