
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    background-image: url("https://source.unsplash.com/1600x900/?student,fun,party"); /* terrible idée niveau performance (pas de cache) */
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
/**
Header
 */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: inline-block;
}

header {
    display: flex;
    align-items: baseline;
    text-align: center;
    background-color: #01A9B4FF;
    color: #086972;
    margin-bottom: 20px;
}

header img {
    height: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
}

nav a {
    align-items: baseline;
    display: inline-block;
    text-decoration: none;
    color: #043136;
    margin-left: 10px;
    margin-right: 10px;
}

nav a:hover {
    align-items: baseline;
    display: inline-block;
    text-decoration: none;
    color: #87DFD6;
}

/*
main
 */
main {
    background-color: #FFFFFFEE;
    flex-grow: 1;
}

/*
footer
 */
footer {
    background-color: #01A9B4FF;
    margin-top: 20px;
}
.alert-success {
    text-align: center;
}
.alert-warning {
    text-align: center;
}
.button_center {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.btn-primary {
    color: #fff;
    background-color: #086972;
    border-color: #086972;
}

.btn-primary:hover {
    color: #fff;
    background-color: #01A9B4FF;
    border-color: #01A9B4FF;
}
h1 {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
button{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
