{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} | Mon profil{% endblock %}

{% block main %}
    {{ form_start(UserForm) }}
    {{ form_widget(UserForm) }}
    <button type="submit" class="btn">Enregistrer</button>
    <input type="button">
    {{ form_end(UserForm) }}
{% endblock %}
